---
name: CI/CD

on: [push]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Build Code
        run: ./gradlew build

  test:
    name: Build
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Test Code
        run: ./gradlew test


