---
name: CI/CD

on: [push]

jobs:
  lint-code:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Lint Code
        run: ktlint src/

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: lint-code

    steps:
      - name: Build App
        run: ./gradlew build


