---
name: Tag Trigger Test

on:
  push:
    branches:
      - main
    tags:
      - "**"


jobs:
  print:
    runs-on: ubuntu-latest

    steps:
      - name: Print the message
        run: echo "Reached here"


