---
name: Test

on:
  workflow_call:
    inputs:
      message:
        description: 'Message to print'
        default: 'test_message'
        required: false
        type: string

jobs:
  print:
    runs-on: ubuntu-latest

    steps:
      - name: Print the message
        run: echo ${{ inputs.message }}

